//pre.
  {{ selected_item.properties | json }}
//pre.
  {{ selected_item.class[0] }}.demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer.mdl-layout--fixed-header



//button.md-raised.md-primary(md-raised-button) Home
md-content
  //div([ngSwitch]= "_selected_object_relations[related_class][0].hasOwnProperty('properties')" )
  h2 {{list_type}}
  h3  {{ selected_item.properties.title }}
  //div([ngSwitch]= "list_type" )
    template([ngSwitchWhen]="'artists'")
      h2 {{list_type}}
      div(*ngIf="selected_item.class[0] != list_type_singular")
      strong {{ selected_item.properties.title }}
      br
      button.md-raised.md-primary(md-raised-button, *ngIf="list_type == 'albums'", (click)="getList('artists',1)")
        "Back to {{selected_item.class[0]}}s"
         selected_item.class[0] != list_type_singular'



    template([ngSwitchWhen]="'album'")
      h6 ALBUMS
      a.mdl-button.mdl-js-button.mdl-js-ripple-effect((click)='raiseList({ uri: _selected_object_relations[related_class][0].href, type: related_class })' )
      h6 ARTISTS
    template(ngSwitchDefault)
      h2 {{list_type}}

div.wf-container
  div(layout='row', layout-padding='', layout-wrap='', layout-fill='', style='padding-bottom: 32px;', ng-cloak='')
    md-whiteframe.md-whiteframe-1dp(*ngFor="#item of list | paginate: { id: 'paging', itemsPerPage: page_size, currentPage: page, totalItems: total_count }" flex-sm='45', flex-gt-sm='35', flex-gt-md='25', layout='', layout-align='center center', style="cursor:pointer;" , (click)='show_details(item)' )
      strong {{ item.properties.title }}


//- input(#newArtist='')
//- button((click)="addArtist(newArtist.value); newArtist.value=''")
//-   | Add Artist
//- .error(*ngIf='errorMessage') {{errorMessage}}
//- ul.meal-list
//-   li(*ngFor="#meal of asyncMeals | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }")
//-     | {{ meal }}

pagination-controls(#p, id='paging', (pageChange)='page = $event;getList(list_uri,$event)' style='cursor: pointer!important;')
  .custom-pagination
    .pagination-previous([class.disabled]='p.isFirstPage()', *ngIf='p.directionLinks')
      a( *ngIf='!p.isFirstPage()', (click)='p.previous()' )
    div(*ngFor='#page of p.pages', [class.current]='p.getCurrent() === page.value')
      a(  (click)='p.setCurrent(page.value)', *ngIf='p.getCurrent() !== page.value')
        span {{ page.label }}
      div(*ngIf='p.getCurrent() === page.value')
        span {{ page.label }}
    .pagination-next([class.disabled]='p.isLastPage()', *ngIf='p.directionLinks')
      a(*ngIf='!p.isLastPage()', (click)='p.next()' )


